.notification {
  width: fit-content;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid;
  background-color: #eee;
}

.notification.error {
  border-color: red;
  color: red;
}

.notification.ok {
  border-color: green;
  color: green;
}